1. Git
- Git was used for version control within VSCode to push the code to GitHub.
2. GitHub
- GitHub was used as a remote repository to store project code.
3. Adobe Illustrator
- Adobe Illustrator was used to create the Cardiff Swim Centre Logo.
4. Adobe Photoshop
- Adobe Photoshop was used to edit several images found throughout the site.
5. Canva
6. Figma
- Figma was used for wireframing, UI design and prototyping
7. Font Awesome
8. Google Fonts
9. Bootstrap 5.0
- Bootstrap was primarily used for layout, stylying and responsiveness purposes. 