@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

/* Typography */

h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    font-weight: 600;
}

h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    font-weight: 600;
}

h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

h4 {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    font-weight: 600;
}

h5 {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

li {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 400;
}


/* Nav bar */

.navbar-bg {
    background-color: #DFF9FF;
}

@media screen and (min-width: 0px) {
    .nav-link {
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
        font-size: 16px;
        margin: 1px;
        color: #000;
        padding: 3px;
        margin-left: 7px;
    }
    .nav-item {
        margin: 0 auto;
    }

}

@media screen and (min-width: 768px) {
    .nav-link {
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
        font-size: 20px;
        margin-left: 7px;
        color: #000;
    }

    .nav-item {
        margin: 0 auto;
    }
}

@media screen and (min-width: 1272px) {
    .nav-link {
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
        font-size: 20px;
        margin: 30px;
        color: #000;
    }
}

.navbar img {
    margin: 8px 8px;
}

ul {
    margin: 0 auto;
}

.nav-join {
    border: none;
    border: none;
    width: 8em;
    padding: 5px;
    border-radius: 50px;
    margin-right: 15px;
    background-color: #0043A8;
}

.nav-join a {
    text-decoration: none;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

.nav-join:hover {
    background-color: #000;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    width: 2.5em;
    height: 2.5em;
        
}


/* credit: Learnt how to change colour of toggle icon from this tutorial: https://stackoverflow.com/questions/65161206/how-to-change-bootstrap-navbar-toggler-icon*/
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0,67,168,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

/* Hero image */

.hero-image-cta {
    background-image: url("../images/hero-image.png");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
    text-align: center;
    text-justify: center;
    
}

.hero-image-cta h1 {
    color: white;
    margin-top: 150px;
    margin-bottom: 4px;

}

.hero-image-cta h3 {
    color: white;
    margin-top: 30px;

}

.hero-image-cta button {
    border: none;
    width: 8em;
    padding: 5px;
    border-radius: 50px;
    margin: 0 auto;
    background-color:#FD4505;
    margin-top: 34px;

    color:#fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;

}

/* Features section */ 

.pool-square, .benefits-square {
    background-color: #DFF9FF;
    margin-top: 50px;
    border-radius: 30px;
    position: relative;

}

.pool-square > ul > li {
    display: block;
    margin-bottom: 12px;
}

.pool-square h2 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.benefits-square h2 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.pool-square ul {
    list-style: none;
    padding-bottom: 60px;
}

.benefits-square ul {
    list-style: none;
    padding-bottom: 60px;
}

.benefits-square > ul > li {
    display: block;
    margin-bottom: 12px;
}

/* fix: Fixed line spacing error in list items by removing bottom padding on tick icon */

.fa-check {
    color: #66C793;
    font-size: 20px;
    padding-right: 6px;
    
}

@media screen and (min-width: 768px) {
    .pool-square {
        width: 75%;
        margin-left: auto;
        margin-right: auto; 
    }

    .benefits-square {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 767px) {
    .pool-square {
        width: 90%;
        left: 26px;
        margin-bottom: 40px;
    }

    .benefits-square {
        width: 90%;
        left: 26px;
        margin-bottom: 40px
    }
}

.features-container {
    margin-top: 120px;
    margin-bottom: 120px;
    position: relative;
}

.pool-button {
    background-color: #FFF;
    border-color: #19DDEC;
    border-width: 3px;
    border-radius: 50px;
    border-style: solid;

    position: absolute;
    margin: 0 auto;
    left: 25%;
    margin-top: -30px;

    width: 200px;
    height: 60px;

    font-family: 'Nunito', sans-serif;
    font-size: 22px;
}

.benefits-button {
    background-color: #19DDEC;
    border-style: none;
    border-radius: 50px;

    position: absolute;
    margin: 0 auto;
    margin-left: 40px;
    margin-top: -30px;

    width: 200px;
    height: 60px;

    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    left: 25%;
}

/* Ethos section */ 


.ethos-container {
    padding-top: 160px;
    margin-bottom: 80px;

}

/* Learnt how to make CSS grids through this tutorial: https://www.w3schools.com/css/css_grid.asp*/

.grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto auto auto;
    justify-content: center;

    grid-column-gap: 20px;
    grid-row-gap: 20px;
    
  }

.item-1 {
    margin-top: -200px;
  }

.item-2 {
    margin-top: -100px;
}

.item-4 {
    margin-top: -200px;
}

.item-5 {
    margin-top: -100px;
}

.ethos-image-grid {
    margin-top: 100px;
}

.ethos-container h2 {
    padding-bottom: 20px;
}

.ethos-container p {
    padding-bottom: 20px;
}

.ethos-container button {
    border: none;
    width: 10em;
    padding: 5px;
    border-radius: 50px;
    margin: 0 auto;
    background-color:#FD4505;
    margin-top: 34px;

    color:#fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

/* Location section */

.location-container ul {
    list-style: none;
}

.location-container li {
    font-size: 20px;
}

.location-container h2 {
    padding-bottom: 30px;
}

.location-container .fas, .location-container .far  {
    padding-right: 5px;
    padding-left: 5px;
}


.google-map {
    width: 100%;
    height: 480px;
    padding: 0;
    margin: 0 auto;
}
/* Footer */

.footer-container-desktop {
    background-color: #0043A8;
    color: #fff;
    margin-top: 90px;
    text-align: left;
    height: 150px;

}

.footer-container-desktop ul {
    list-style: none;
    text-align: left;
    margin-top: 30px;
}

.footer-container-desktop li {
    justify-content:center;
    vertical-align: middle;
    letter-spacing: 1px;
    font-size: 22px;
}

.footer-ctas {
    float: left;
}

.social-media-links {
    float: right;
    display: inline-block;
    color: #fff;
}

.social-media-links li {
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
    padding: 20px;
}


.footer-ctas-mobile {
    color: #fff;
    position: absolute;
    background-color: #0043A8;
    color: #fff;
    text-align: left;
    height: 80px;
    width: 100vw;
    padding: 0;
    margin: 0;

}

.footer-ctas-mobile {
    position: relative;
    clear: both;
    text-align: center;
    padding-top: 20px;
}

.footer-text-mobile {
    position: relative;
    clear: both;
    padding: 0;
    margin: 0;
    background-color: #0043A8;
    color: #fff; 
}

.social-media-links-mobile {
    display: inline-flex;
    margin: 0;
    height: 20px;
    width: 100vw;
    list-style: none;
    margin-bottom: 35px;
    text-align: center;
    padding: 0;
}

.social-media-links-mobile li {
    display: inline-flex;
    font-size: 22px;
    margin: 0 auto;

}



/* About page */ 

/* Header image of about page */

/* credit for image effect: tutorial from Code Institute */

.about-wrapper-image {
    background :url('../images/about-image-wrapper.png') center center / cover no-repeat fixed;
    width: 100%; 
    height: 60vh;

    color: #fff;
    text-align: center;
    text-justify: center;
    
}

.about-wrapper-image h1 {
    margin-top: 10%;
}

@media screen and (max-width: 768px) {
    .about-wrapper-image h1 {
    margin-top: 30%;
}
}



/* Company values section */ 

.about-value {
    margin-top: 100px;
    margin-bottom: 100px;
}

.about-value-text {
    margin-top: 20px;
}

.about-value-text h2 {
    margin-bottom: 70px;
}

.about-value-text p {
    margin-bottom: 50px;
}

.about-value-text b {
    font-size: 22px;
}

.about-facilities-intro h2 {
    margin-bottom: 40px;
}

#founder-image {
    width: 90%;
}

/* Facilities section */ 

.about-facilities-intro {
    margin-bottom: 50px;
}


.card {
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    margin: 0 auto;
}

.card ul li, .card p {
    font-size: 16px;
}

.card h5 {
    font-weight: 700;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 10px;
}

.card .btn {
    border: none;
    width: 16em;
    border-radius: 50px;
    margin: 0 auto;
    background-color:#FD4505;

    color:#fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

#card-five-btn {
    margin-top: 14px;
}